*, ::after, ::before { box-sizing: border-box; }

img {
    max-width: 100%;
}

nav {
    background-color:rgba(255, 255, 255, 0.9);
   position: fixed;
   top: 0px;
   width:100%;
   display: flex;
   justify-content: flex-end;
   z-index: 3;
   font-family: 'Roboto', sans-serif, thin;
   font-size: 13px;
}

nav .navigation-icon-wrapper {
    display: flex;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #fff;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    nav .navigation-icon-wrapper {
        display: none;
    }
}

nav .navigation-icon {
    transform: rotate(0deg);
    transition: .5s ease-in-out;
}

nav .navigation-icon div {
    background-color: #000;
    height: 2px;
    margin: 5px auto;
    width: 25px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navigation-icon-wrapper.open .navigation-icon div:first-child {
    transform: translateY(7px) rotate(45deg);
}

.navigation-icon-wrapper.open .navigation-icon div:nth-child(2) {
    opacity: 0;
}

.navigation-icon-wrapper.open .navigation-icon div:last-child {
    transform: translateY(-7px) rotate(-45deg);
}

ul.open {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

ul.open li a {
    color: #000;
    }

ul {
    list-style-type: none;
    display: flex;
    padding-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    box-sizing: border-box;
}

a {
    color: #000;
    display: block;
    text-decoration: none;
}

li a {
    padding: 15px;
    display: block;
    text-decoration: none;
}

a:hover {
    color: #837957;
}

@media (max-width: 700px) {
    nav ul {
        display: none;
    }
}

.list {
    color:#F6F1EC;
    display: block;
    list-style-type: circle;
    font-size: 15px;
}

.textWhite {
    color:#F6F1EC;
}


body {
    margin: 0;
    background-color: #F6F1EC;
    color: #42413d;
    font-family: 'Roboto', sans-serif, thin;
    font-size: 13px;
  }

.hero {
    background-image: url("bakgrund2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #f7f0e8;
}

@media (min-width: 768px) {
    .hero {
        justify-content: flex-start;
    }
}


.hero-column {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .hero-column {
        padding-left: 100px;
        padding-top: 300px;
    }
}

.hero-illustration {
    max-width: 300px;
}

@media (min-width: 768px) {
    .hero-illustration {
        max-width: 100%;
    }
}

.backgroundImage {
    background-image: url("bastun.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    width: 100%;
    display: flex;
}


.image-container {
   min-height: 40vh;
   display: block;
}

@media (min-width: 768px) {
    .image-container {
        min-height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
}

.item {
    height: 40vh;
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
}
  
.item:hover {
    opacity: 1.0;
}

.backgroundPink {
   background-color: #FF3B5C;
}

section {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.section {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    padding: 20px 0;
}

@media (min-width: 768px) {
    .section {
        grid-template-columns: 1fr 960px 1fr;  
        padding: 100px 0;
    }
}

.main-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 2;
}

@media (min-width: 768px) {
    .main-column {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
    }
}

@media (max-width: 1000px) {
    .main-column {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.text-block { 
    width: 100%;
    max-width: 550px;
    line-height: 25px;
    padding: 50px;
    margin-left:100px;
}


@media (max-width: 1000px) {
    .text-block {
            margin-bottom: 30px;
            padding: 0 20px;
            font-size: 13px;
    }

    .text-block:nth-child(2) {
        margin-bottom: 0px;
        
    }   
}

.icon {
    margin-top: 200px;
    width:350px;
}

.icon-single {
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 30px;
}

p {
    font-size: 18px;
    font-weight: 300px;
}
@media (max-width:700px) {
    p {
        font-size: 15px;
    }
}

h1 {
    font-size: 52px;
    font-weight: 500;
    color:black;
}

@media (max-width:700px) {
    h1 {
        font-size: 30px;
    }
}

h2 {
    font-size: 28px;
    font-weight: 200;
    color: #efeeea;
    margin: 15px 0px 0px 0px;
}

 h4 {
    color: #F6F1EC;
    font-size: 18px;
    font-weight: 300px;
 }


@media (max-width:700px) {
    h2 {
        font-size: 22px;
    }
}

#mapid { 
    height: 400px; 
    z-index: 2;
}

footer {
    background-image: url("bakgrund2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
    font-size: 20px;
    width: 100%;
    margin-bottom: 0px;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
   
